.layout{
    width: 100%;
    height: 100vh;
    display: flex;
}

.sideNav{
    width: 250px;
    height: 100%;
}

.display{
    width: calc(100% - 250px);
    height: 100%;
    background-color: rgb(209, 238, 238)  ;
}